body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background: #FFB0B0;
}

header {
    background: #B03052;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    font-size: 1.4rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #D76C82;
    font-size: 1.1rem;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #EC7FA9;
    color: 3C;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 50px;
    background: url('https://source.unsplash.com/1600x600/?veterinary,animals') no-repeat center;
    background-size: cover;
    color: white;
}

.hero h2 {
    font-size: 2rem;
}



.hero .btn {
    display: inline-block;
    background: #BE5985;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
  
}

.hero .btn:hover {
    background: #EC7FA9;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.image-gallery img {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    width: 30%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #B03052;
    color: white;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    .image-gallery img {
        width: 80%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
